{
  "environment": "prod",
  "debug": false,
  "Captcha": {
    "secret": ""
  },
  "Ethereum": {
    "milliEtherToTransfer": 500,
    "chainId": 1023,
    "gas": "21000",
    "gasPrice": "1000000000",
    "prod": {
      "rpc": "http://127.0.0.1:8545",
      "account": "",
      "privateKey": ""
    }
  }
}
